body{
  margin: 0;
  background-color: black;
  margin-bottom: 9dvh;
}

.top-nav{
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  right: 0;
  margin: 0;
  background-color: #094074;
  width: 100%;
  height: 10dvh;
}

.top-nav button{
  height: 8dvh;
  width: 8dvh;
  margin: 2%;
  font-size: 7dvh;
  vertical-align: middle;
  border-radius: 20%;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.top-nav button:hover{
  zoom: 110%;
}

.bottom-nav{
  position: fixed;
  background-color:  #5ADBFF;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10dvh;
  bottom: 0;
}

.bottom-nav-container {
  position: absolute;
  display: flex;
  left: 0;
  align-items: center;
}

.bottom-nav-container img {
  width: 10vh;
  height: 10vh;
}

.bottom-nav-container p {
  margin-left: 10px; /* Adjust the margin as needed */
}
.container{
    display: flex;
    flex-wrap: wrap;
    align-items: cetnter;
    padding-inline: 2%;
    padding-top: 5%;
    margin: 0;
}

.card {
  min-height: 32vh;
  max-height: 35vh;
  width: 27vh; /* Adjust the value to your desired width */
  background-color: #fe9000;
  align-items: center;
  margin: 1%;
  border-radius: 5%;
  overflow: hidden;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.card:hover {
  border: solid black 3px;
  zoom: 103%;
  margin: 0.619%;
}

.card p {
  text-align: center;
}

.card .image-container {
  width: 100%;
  height: 70%;
}

.card .image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.upload{
  position: fixed;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  background-color: white;
}

