body{
  margin: 0;
  background-color: black;
  margin-bottom: 9dvh;
}

.top-nav{
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  right: 0;
  margin: 0;
  background-color: #094074;
  width: 100%;
  height: 10dvh;
}

.top-nav button{
  height: 8dvh;
  width: 8dvh;
  margin: 2%;
  font-size: 7dvh;
  vertical-align: middle;
  border-radius: 20%;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.top-nav button:hover{
  zoom: 110%;
}

.bottom-nav{
  position: fixed;
  background-color:  #5ADBFF;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10dvh;
  bottom: 0;
}

.bottom-nav-container {
  position: absolute;
  display: flex;
  left: 0;
  align-items: center;
}

.bottom-nav-container img {
  width: 10vh;
  height: 10vh;
}

.bottom-nav-container p {
  margin-left: 10px; /* Adjust the margin as needed */
}
.container{
    display: flex;
    flex-wrap: wrap;
    align-items: cetnter;
    padding-inline: 2%;
    padding-top: 5%;
    margin: 0;
}

.card {
  min-height: 32vh;
  max-height: 35vh;
  width: 27vh; /* Adjust the value to your desired width */
  background-color: #fe9000;
  align-items: center;
  margin: 1%;
  border-radius: 5%;
  overflow: hidden;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.card:hover {
  border: solid black 3px;
  zoom: 103%;
  margin: 0.619%;
}

.card p {
  text-align: center;
}

.card .image-container {
  width: 100%;
  height: 70%;
}

.card .image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.upload {
  display: none;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
  height: 100vh;
  width: 100%;
  top: 10dvh;
  position: absolute;
  z-index: 999;
}


form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.file-input-label {
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin-bottom: 10px;
}

.file-input-button {
  display: inline-block;
  padding: 8px 15px;
  background-color: #fe9000;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.file-input-button:hover {
  background-color: #ffab33;
}

.file-input-button:active {
  background-color: #ff7f00;
}

input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

#musicFileName,
#imageFileName {
  font-size: 14px;
  margin-top: 5px;
  color: #555;
}

.upload button {
  padding: 10px 20px;
  background-color: #fe9000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.upload button:hover {
  background-color: #ffab33;
}

button:active {
  background-color: #ff7f00;
}



